<nav id="my-nav" class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
	<a class="navbar-brand" href="{{ url_for('main.home') }}"><button id="logo">JournalShare</button></a>
	<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#collapse_target">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="collapse_target">
		<ul class="navbar-nav" id="navbar-items">
		    <li class="nav-item"><a class="nav-link" href="{{ url_for('main.alljournals') }}">All Journal Entries</a></li>
		    <li class="nav-item"><a class="nav-link" href="{{ url_for('users.user_journals', username=current_user.username) }}">My Journal</a></li>
		    <li class="nav-item"><a class="nav-link" href="{{ url_for('users.account', username=current_user.username) }}">My Account</a></li>
		    <li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
		</ul>
	</div>
</nav>