<!doctype html>
<html>
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<title>JournalShare - { title }</title>
	</head>
	<body>
	<div class="login-box register-box">
		<img src="static/images/book.png" class="book">
		<h2>JournalShare</h2>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
				<div class="form-group">
					<p>{{ form.username.label(class="form-control-label") }}</p>
					{% if form.username.errors %}
						{{ form.username(class="form-control is-invalid", placeholder="Enter Username...")}}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control", placeholder="Enter Username...") }}
					{% endif %}
				</div>
				<div class="form-group">
					<p>{{ form.email.label(class="form-control-label") }}</p>
					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid", placeholder="Enter Email...") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control form-control-lg", placeholder="Enter Email...") }}
					{% endif %}
				</div>
				<div class="form-group">
					<p>{{ form.password.label(class="form-control-label") }}</p>
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid", placeholder="Enter Password...")}}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-lg", placeholder="Enter Password...") }}
					{% endif %}
				</div>
				<div class="form-group">
					<p>{{ form.confirm_password.label(class="form-control-label") }}</p>
					{% if form.confirm_password.errors %}
						{{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder="Confirm Password...")}}
						<div class="invalid-feedback">
							{% for error in form.confirm_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password...") }}
					{% endif %}
				</div>
			<div class="form-group">
				{{ form.submit(class="btn btn-info") }}
			</div>
		</form>
	</div>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	</body>
</html>